# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Build files
pca10040/arm5/_build/*
JLinkLog.txt
JLinkSettings.ini

# Project files
*.uvguix.*

# Temp files
*.bak
*~
*.orig
*.0000
*.0001
*.0002

